@model Garage2._0.Models.ViewModels.FeedbackViewModel

@{
    ViewData["Title"] = "Feedback";
}

<h1>@Model.RegNum</h1>

<p>
    @Model.Message
</p>

<div>
    <a asp-action="Index">Back to List</a>
</div>