@{
    ViewData["Title"] = "The Garage";
}

<div class="container">
    <h1>Welcome to Garage 2.0</h1>
    <h2>The Garage goes ASP:NET MVC!</h2>
    <p>This version is a single model MVC project - ParkedVehicle</p>
    <h3>Menu</h3>
    <ul>
        <li>Park your vehicle</li>
        <li>Collect your vehicle</li>
    </ul>

</div>
