@{
    ViewData["Title"] = "- Garage2.0";
}

<div class="container textCenter">
    <h1 class="h1Home">Welcome to Garage 2.0</h1>
    <h3 class="h2Home">The Garage goes ASP.NET MVC!</h3>
    <h4 class="pHome">This version is a single model MVC project - ParkedVehicle</h4>
    <p>
        There are three main functions: <br /> <span class="mySpan">
            "Park Your Vehicle", "Vehicle Overview" and "Parked Cars"
        </span>
    </p>
    <hr /><br />
    <p>When you park your vehicle you add all attributes of the vehicle and when submitting the information you will get a receipt.</p>
    <p class="pHome">
        <a class="parkVehicle" asp-controller="ParkedVehicles" asp-action="CheckInVehicle">Park Your Vehicle</a>
    </p>
    <p>In the Vehicle Overview section you can see a partial view of all parked vehicles.</p>
    <p class="pHome">
        <a class="parkVehicle" asp-controller="ParkedVehicles" asp-action="OverView">Vehicle OverView</a>
    </p>
    <p>
        In the Parked Cars view you will also see all parked vehicles with all attributes showing.
        <br />You can also <span class="mySpan">"CheckOut", "Edit"</span> and see
        <span class="mySpan">"Details"</span> of the vehicle.
    </p>
    <p class="pHome">
        <a class="parkVehicle" asp-controller="ParkedVehicles" asp-action="Index">Parked Cars</a>
    </p>
</div>

@section scripts{
    <script>document.body.style.backgroundColor = "orange";</script>
}








